<ion-split-pane when="md">

    <ion-menu [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>

                <ion-item *ngIf="user; else login">
                    <ion-avatar item-left>
                        <img src="{{user.profile.avatar}}">
                    </ion-avatar>
                    <h2>{{user.username}}</h2>
                    <p>{{user.emails[0].adress}}</p>
                </ion-item>

                <ng-template #login >
                    <button ion-item (click)="goToPage('signin')"> Login </button>
                </ng-template>
                <button ion-item> Signup </button>
            </ion-list>

        </ion-content>
    </ion-menu>

    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>

</ion-split-pane>