<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!--<login-buttons></login-buttons>-->
    <ion-grid>
        <ion-row>
            <ion-col>
                <form *ngIf="showSignin; else signup" [formGroup]="signinForm" (ngSubmit)="signIn()">
                    <ion-item>
                        <ion-label stacked>Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label stacked>Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>

                    <button ion-button block type="submit" [disabled]="!signinForm.valid">Submit</button>
                    <p>Don't have an account? <a src="#" (click)="showSignin=!showSignin">Sign Up!</a></p>
                </form>

                <ng-template #signup>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <ion-item>
                            <ion-label stacked>Email</ion-label>
                            <ion-input type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label stacked>Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label stacked>Username</ion-label>
                            <ion-input type="text" formControlName="username"></ion-input>
                        </ion-item>



                        <button ion-button block type="submit" [disabled]="!signupForm.valid">Submit</button>
                        <p>Already have an account? <a src="#" (click)="showSignin=!showSignin">Sign In!</a></p>
                    </form>
                </ng-template>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>